.Navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 1rem;
	z-index: 1;
	width: 100%;
	opacity: 0.9;
	margin-bottom: 1rem;
	min-height: 6.4rem;
	background-color: #282c34;
}
