.Palette {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.Palette__movies {
	margin-top: -2rem;
	padding: 2rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
	grid-gap: 1rem;
}

.Palette__drawer-header {
	display: inline-block;
	grid-column: 1/-1;
}

.Palette__footer {
	padding: 2rem;
	color: white;
	font-size: 2.5rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-weight: bold;
	opacity: 0.9;
	margin-top: 1rem;
	background-color: #282c34;
	align-self: flex-end;
	width: 100%;
	margin-top: auto;
}
.Palette__footer-emoji {
	margin-left: 1rem;
}
/* minmax(17rem, 1fr) */
